@model IEnumerable<KnowledgeHub.Entities.Article>
@using Humanizer
@{
    ViewData["Title"] = "ApproveReject";
}

<h1>Approve / Reject Articles</h1>
  <form method="post">
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ArticleID)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Catagory.CatagoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmittedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSubmitted)
            </th>
            
            
        </tr>
    </thead>
  
    <tbody>
        
@foreach (var item in Model) {
        <tr>
            <td>
                <input type="checkbox" name="articleid" value="@item.ArticleID"/>
                @*@Html.DisplayFor(modelItem => item.ArticleID)*@
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Title)*@
                <a href="@item.ArticleUrl" target="_blank">@item.Title</a>
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ArticleUrl)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                       
                @Html.DisplayFor(modelItem => item.Catagory.CatagoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedBy)
            </td>
            <td>
                    @{
                        var date = item.DateSubmitted.Humanize(false);
                    }
                @*@Html.DisplayFor(modelItem => item.DateSubmitted.ToString("MMM, dd yyyy"))*@
                <span>@date</span>
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
    
</table>

<input type="submit" asp-action="Approve" asp-controller="Articles" value="Approve" class="btn btn-info" />
<input type="submit" asp-action="Reject" asp-controller="Articles" value="Reject" class="btn btn-danger" />

</form>  